---
---
@import "{{ site.theme }}";

.inner {
  max-width: 1200px; /* Увеличиваем ширину контейнера */
}

#main_content img {
  width: 100%;       /* Растягиваем картинку на всю ширину */
  max-width: none;   /* Снимаем ограничения по размеру */
}
